.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    background: #0f172a;
    color: white;
  }
  
  .logo {
    font-size: 22px;
    font-weight: bold;
  }
  .actions  {
      display: flex;
  }
  .actions .btn {
    margin-left: 10px;
    padding: 1px 16px;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .btn.primary {
    background: #38bdf8;
    border: none;
  }
  
  .btn.outline {
    background: transparent;
    color: white;
    border: 1px solid #38bdf8;
  }

  .header-details{
    display: flex;
  }

  .welcome{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }
  