.profile-card {
    background: white;
    padding: 32px;
    border-radius: 14px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
    max-width: 900px;
    margin: auto;
  }
  
  .profile-card h1 {
    margin-bottom: 5px;
  }
  
  .profile-card h3 {
    color: #475569;
  }
  
  .summary {
    margin: 20px 0;
    line-height: 1.6;
  }
  
  .details p {
    margin: 6px 0;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 25px;
  }
  
  .profile-text h1 {
    margin: 0;
    font-size: 32px;
  }
  
  .profile-text h3 {
    margin-top: 6px;
    color: #475569;
    font-weight: 500;
  }
  
  .profile-photo {
    /*flex-shrink: 0;*/
    perspective: 1000px;
  }
  
  .profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
  }

  /* Flip wrapper */
  
  /* Flip wrapper 
  .photo-flip {
    width: 140px;
    height: 140px;
    animation: rapidFlip 6s linear infinite; 
    transform-style: preserve-3d;
  }
  

  .profile-image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #38bdf8;
  

    backface-visibility: visible;
  }
  

  @keyframes rapidFlip {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  } */
  
  